# files created by build
src/*.mod
src/*.o
src/flac
src/snapshot.diff
util/*.pyc
util/__pycache__

# files created by VCS
*.orig
*.rej

# temporary files from vi
*.swp

# backup/temporary files from emacs
*~
.\#*

# files created by coverage analysis
src/*.gcda
src/*.gcno
src/*.gcov

