# files created by build
src/*.mod
src/*.o
src/flac
src/snapshot.diff
util/*.pyc
util/__pycache__

# files created by VCS
*.orig
*.rej

# results created by flac under examples/
examples/**
!examples/*.inp
benchmark/**
!benchmark/*.inp
!benchmark/*.py

# temporary files from vi
*.swp

# backup/temporary files from emacs
*~
.\#*

# files created by coverage analysis
src/*.gcda
src/*.gcno
src/*.gcov

